<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Pharma Tax Invoice - {{companyName}}</title>
  <style type="text/css">
    /* CSS will be injected here */
    /* {{! Template will inject CSS here }} */
  </style>
  {{#if cssContent}}
  <style type="text/css">
    {{cssContent}}
  </style>
  {{/if}}
</head>
<body>
  <div class="bill-container">
    <!-- Header with Company and Invoice Info -->
    <div class="bill-header">
      <div class="company-info">
        {{#if logoPath}}<img src="{{logoPath}}" alt="Logo" class="company-logo" />{{/if}}
        <div class="company-name">{{companyName}}</div>
        <div class="company-address">{{address}}</div>
        <div class="company-contact">
          {{#if phone}}<span>Phone: {{phone}}</span>{{/if}}
          {{#if email}}<span>Email: {{email}}</span>{{/if}}
        </div>
        <div class="company-tax">
          {{#if gstin}}<span>GST No.: {{gstin}}</span>{{/if}}
          {{#if fssaiNumber}}<span>FSSAI No.: {{fssaiNumber}}</span>{{/if}}
        </div>
        <div class="company-license">
          {{#if dlNo1}}<span>DL No.: {{dlNo1}}</span>{{/if}}
          {{#if dlNo2}}<span>{{dlNo2}}</span>{{/if}}
        </div>
      </div>
      <div class="invoice-header-right">
        <div class="invoice-title">TAX INVOICE</div>
        <div class="invoice-details-box">
          <div class="invoice-detail-item">
            <span class="label">Invoice No.:</span>
            <span class="value">{{billNumber}}</span>
          </div>
          <div class="invoice-detail-item">
            <span class="label">Date:</span>
            <span class="value">{{billDate}}</span>
          </div>
          {{#if dueDate}}
          <div class="invoice-detail-item">
            <span class="label">Due Date:</span>
            <span class="value">{{dueDate}}</span>
          </div>
          {{/if}}
        </div>
      </div>
    </div>

    <!-- Buyer Information -->
    {{#if customerName}}
    <div class="buyer-section">
      <div class="section-title">Bill To:</div>
      <div class="buyer-info">
        <div class="buyer-name">{{customerName}}</div>
        {{#if customerAddress}}<div class="buyer-address">{{customerAddress}}</div>{{/if}}
        <div class="buyer-details">
          {{#if customerPhone}}<span>Phone: {{customerPhone}}</span>{{/if}}
          {{#if customerGstin}}<span>GST No.: {{customerGstin}}</span>{{/if}}
        </div>
        {{#if customerDlNo}}<div class="buyer-license">DL No.: {{customerDlNo}}</div>{{/if}}
      </div>
    </div>
    {{/if}}

    <!-- Product Table -->
    <table class="items-table">
      <thead>
        <tr>
          <th>HSN</th>
          <th>CO/MF</th>
          <th>QTY</th>
          <th>Fr/Sch PACK</th>
          <th>PRODUCT DESCRIPTION</th>
          <th>BATCH NO.</th>
          <th>EXP</th>
          <th>MRP</th>
          <th>RATE</th>
          <th>GROSS DISC</th>
          <th>Taxable</th>
          <th>%</th>
          <th>SGST AMT</th>
          <th>%</th>
          <th>CGST AMT</th>
          <th>Amount</th>
        </tr>
      </thead>
      <tbody>
        {{#each lines}}
        <tr>
          <td>{{hsnCode}}</td>
          <td>{{manufacturer}}</td>
          <td>{{quantity}}</td>
          <td>{{packSize}}</td>
          <td class="product-name">{{productName}}</td>
          <td>{{batchNumber}}</td>
          <td>{{expiryDate}}</td>
          <td class="amount">{{formatCurrency mrp}}</td>
          <td class="amount">{{formatCurrency rate}}</td>
          <td class="amount">{{formatCurrency discountAmount}}</td>
          <td class="amount">{{formatCurrency taxableAmount}}</td>
          <td>{{taxPercent}}</td>
          <td class="amount">{{formatCurrency sgstAmount}}</td>
          <td>{{taxPercent}}</td>
          <td class="amount">{{formatCurrency cgstAmount}}</td>
          <td class="amount total">{{formatCurrency lineTotal}}</td>
        </tr>
        {{/each}}
      </tbody>
    </table>

    <!-- Summary Section -->
    <div class="summary-section">
      <div class="summary-left">
        <div class="summary-box">
          <div class="summary-row">
            <span class="label">Gross:</span>
            <span class="value">{{formatCurrency subtotal}}</span>
          </div>
          <div class="summary-row">
            <span class="label">Sch/Disc:</span>
            <span class="value">-{{formatCurrency totalDiscount}}</span>
          </div>
          <div class="summary-row">
            <span class="label">SGST Amt:</span>
            <span class="value">{{formatCurrency sgstTotal}}</span>
          </div>
          <div class="summary-row">
            <span class="label">CGST Amt:</span>
            <span class="value">{{formatCurrency cgstTotal}}</span>
          </div>
          <div class="summary-row">
            <span class="label">Dr/Cr Note:</span>
            <span class="value">0.00</span>
          </div>
          <div class="summary-row">
            <span class="label">Bill Amt:</span>
            <span class="value">{{formatCurrency totalAmount}}</span>
          </div>
          <div class="summary-row grand-total">
            <span class="label">To Pay:</span>
            <span class="value">{{formatCurrency totalAmount}}</span>
          </div>
        </div>
      </div>
      <div class="summary-right">
        <div class="amount-words">
          <strong>Amount in Words:</strong> {{numberToWords totalAmount}}
        </div>
      </div>
    </div>

    <!-- Footer -->
    <div class="bill-footer">
      <div class="declaration">
        Certified that the particulars given above are true and correct. | No Reverse charge Is Applicable. | Subject To Jurisdiction
      </div>
      <div class="signature-section">
        <div class="signature-box">
          {{#if signaturePath}}<img src="{{signaturePath}}" alt="Signature" class="signature-image" />{{/if}}
          <div>Authorised Signatory</div>
          <div class="company-name-small">For {{companyName}}</div>
        </div>
        <div class="signature-box">
          <div>Receiver's Signature</div>
        </div>
      </div>
    </div>
  </div>
</body>
</html>
